# Ejemplo práctico: datos comunales

En este ejemplo vamos a trabajar con 2 archivos `.csv`. El primero es `códigos.csv`, que contiene el número identificador de cada comuna y algunos datos extra (como la región a la que pertenece y su provincia). El segundo se llama `datos_comunas.csv`, que contiene la información del número de metros cuadrados de plaza y parques por comuna. Además, contiene la información de la cantidad de personas que trabaja en ese municipio. Vamos a cargar los dos archivos como objetos de tipo `DataFrame`.

In [7]:
import pandas as pd

df_codigos = pd.read_csv("codigos.csv", sep=";")
df_codigos

,Código Región,Nombre Región,Abreviatura Región,Código Provincia,Nombre Provincia,Código Comuna 2018,Nombre Comuna
0,1,Tarapacá,TPCA,11,Iquique,1101,Iquique
1,1,Tarapacá,TPCA,11,Iquique,1107,Alto Hospicio
2,1,Tarapacá,TPCA,14,Tamarugal,1401,Pozo Almonte
3,1,Tarapacá,TPCA,14,Tamarugal,1402,Camiña
4,1,Tarapacá,TPCA,14,Tamarugal,1403,Colchane
...,...,...,...,...,...,...,...
341,16,Ñuble,NUBLE,163,Punilla,16301,San Carlos
342,16,Ñuble,NUBLE,163,Punilla,16302,Coihueco
343,16,Ñuble,NUBLE,163,Punilla,16303,Ñiquén
344,16,Ñuble,NUBLE,163,Punilla,16304,San Fabián
345,16,Ñuble,NUBLE,163,Punilla,16305,San Nicolás

In [9]:
df_datos_comuna = pd.read_csv("datos_comunas.csv")
df_datos_comuna

        id  metros_plaza  metros_parque  personas
0     1101       58460.0        94824.0     271.0
1     1107      130316.0            0.0      55.0
2     1401           NaN            NaN       NaN
3     1402        4050.0            0.0       8.0
4     1403        2532.0            NaN       NaN
..     ...           ...            ...       ...
340  16301      168800.0        82226.0      19.0
341  16302       21282.0            0.0      62.0
342  16303       21925.0            0.0      22.0
343  16304        9500.0            0.0      26.0
344  16305       36300.0         4180.0      33.0

[345 rows x 4 columns]

Lo que haremos en este _notebook_ será preguntar por los metros cuadrados de plaza, agrupados por región y por provincia. Para esto, debemos hacer `merge` entre los dos `Dataframe`.

In [11]:
df_merge = df_codigos.merge(df_datos_comuna, left_on="Código Comuna 2018", right_on="id")
df_merge

,Código Región,Nombre Región,Abreviatura Región,Código Provincia,Nombre Provincia,Código Comuna 2018,Nombre Comuna,id,metros_plaza,metros_parque,personas
0,1,Tarapacá,TPCA,11,Iquique,1101,Iquique,1101,58460.0,94824.0,271.0
1,1,Tarapacá,TPCA,11,Iquique,1107,Alto Hospicio,1107,130316.0,0.0,55.0
2,1,Tarapacá,TPCA,14,Tamarugal,1401,Pozo Almonte,1401,NaN,NaN,NaN
3,1,Tarapacá,TPCA,14,Tamarugal,1402,Camiña,1402,4050.0,0.0,8.0
4,1,Tarapacá,TPCA,14,Tamarugal,1403,Colchane,1403,2532.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,16,Ñuble,NUBLE,163,Punilla,16301,San Carlos,16301,168800.0,82226.0,19.0
341,16,Ñuble,NUBLE,163,Punilla,16302,Coihueco,16302,21282.0,0.0,62.0
342,16,Ñuble,NUBLE,163,Punilla,16303,Ñiquén,16303,21925.0,0.0,22.0
343,16,Ñuble,NUBLE,163,Punilla,16304,San Fabián,16304,9500.0,0.0,26.0
344,16,Ñuble,NUBLE,163,Punilla,16305,San Nicolás,16305,36300.0,4180.0,33.0

Ahora vamos a dejar solo las comunas que necesitamos.

In [12]:
df_merge = df_merge[["Nombre Región", "Nombre Provincia", "Nombre Comuna", "metros_plaza"]]
df_merge

    Nombre Región Nombre Provincia  Nombre Comuna  metros_plaza
0        Tarapacá          Iquique        Iquique       58460.0
1        Tarapacá          Iquique  Alto Hospicio      130316.0
2        Tarapacá        Tamarugal   Pozo Almonte           NaN
3        Tarapacá        Tamarugal         Camiña        4050.0
4        Tarapacá        Tamarugal       Colchane        2532.0
..            ...              ...            ...           ...
340         Ñuble          Punilla     San Carlos      168800.0
341         Ñuble          Punilla       Coihueco       21282.0
342         Ñuble          Punilla         Ñiquén       21925.0
343         Ñuble          Punilla     San Fabián        9500.0
344         Ñuble          Punilla    San Nicolás       36300.0

[345 rows x 4 columns]

Para finalizar, vamos a agrupar la suma de metros cuadrados de plaza por región.

In [27]:
df_merge['metros_plaza'].groupby([df_merge['Nombre Región']]).sum()

Nombre Región
Antofagasta                                    772259.0
Arica y Parinacota                             374154.0
Atacama                                        400882.0
Aysén del General Carlos Ibáñez del Campo      598899.0
Biobío                                        4727900.0
Coquimbo                                      2744037.0
La Araucanía                                  1455345.0
Libertador General Bernardo O'Higgins         4142980.0
Los Lagos                                     2477329.0
Los Ríos                                       592556.0
Magallanes y de la Antártica Chilena           180613.0
Maule                                         3190604.0
Metropolitana de Santiago                    25364523.0
Tarapacá                                       210583.0
Valparaíso                                   42515154.0
Ñuble                                         1287330.0
Name: metros_plaza, dtype: float64

Y podemos ordenar de mayor a menor.

In [28]:
df_merge['metros_plaza'].groupby([df_merge['Nombre Región']]).sum().sort_values(ascending=False)

Nombre Región
Valparaíso                                   42515154.0
Metropolitana de Santiago                    25364523.0
Biobío                                        4727900.0
Libertador General Bernardo O'Higgins         4142980.0
Maule                                         3190604.0
Coquimbo                                      2744037.0
Los Lagos                                     2477329.0
La Araucanía                                  1455345.0
Ñuble                                         1287330.0
Antofagasta                                    772259.0
Aysén del General Carlos Ibáñez del Campo      598899.0
Los Ríos                                       592556.0
Atacama                                        400882.0
Arica y Parinacota                             374154.0
Tarapacá                                       210583.0
Magallanes y de la Antártica Chilena           180613.0
Name: metros_plaza, dtype: float64

Ahora para obtener la suma de metros plaza por provincia hacemos lo siguiente.

In [31]:
df_merge['metros_plaza'].groupby([df_merge['Nombre Región'], df_merge['Nombre Provincia']]).sum()

Nombre Región                              Nombre Provincia
Antofagasta                                Antofagasta                  429357.0
                                           El Loa                       316064.0
                                           Tocopilla                     26838.0
Arica y Parinacota                         Arica                        359253.0
                                           Parinacota                    14901.0
Atacama                                    Chañaral                      42478.0
                                           Copiapó                      175367.0
                                           Huasco                       183037.0
Aysén del General Carlos Ibáñez del Campo  Aisén                         38103.0
                                           Capitán Prat                  42512.0
                                           Coihaique                    421522.0
                                           General Carrera               96762.0
Biobío                                     Arauco                       140784.0
                                           Biobío                      1462643.0
                                           Concepción                  3124473.0
Coquimbo                                   Choapa                       139364.0
                                           Elqui                       2572475.0
                                           Limarí                        32198.0
La Araucanía                               Cautín                       938312.0
                                           Malleco                      517033.0
Libertador General Bernardo O'Higgins      Cachapoal                   3215938.0
                                           Cardenal Caro                214571.0
                                           Colchagua                    712471.0
Los Lagos                                  Chiloé                       317531.0
                                           Llanquihue                  1261316.0
                                           Osorno                       855839.0
                                           Palena                        42643.0
Los Ríos                                   Ranco                        297953.0
                                           Valdivia                     294603.0
Magallanes y de la Antártica Chilena       Antártica Chilena              7173.0
                                           Magallanes                    38647.0
                                           Tierra del Fuego              33123.0
                                           Última Esperanza             101670.0
Maule                                      Cauquenes                    166466.0
                                           Curicó                      1230306.0
                                           Linares                      336328.0
                                           Talca                       1457504.0
Metropolitana de Santiago                  Chacabuco                   1433396.0
                                           Cordillera                  2674999.0
                                           Maipo                       1577066.0
                                           Melipilla                    199385.0
                                           Santiago                   18466195.0
                                           Talagante                   1013482.0
Tarapacá                                   Iquique                      188776.0
                                           Tamarugal                     21807.0
Valparaíso                                 Isla de Pascua                 9811.0
                                           Los Andes                  38324226.0
                                           Marga Marga                  706838.0
                                           Petorca                       90037.0
                                           Quillota                     442471.0
                                           San Antonio                  910804.0
                                           San Felipe de Aconcagua      527516.0
                                           Valparaíso                  1503451.0
Ñuble                                      Diguillín                    963732.0
                                           Itata                         65791.0
                                           Punilla                      257807.0
Name: metros_plaza, dtype: float64

Además, si prestaste atención, después de haber hecho el merge hubo una comuna que desapareció al no estar presente en el `DataFrame` de los datos comunales. ¿Puedes averiguar cuál fue?